/.cask
/.hive-maint
/custom.el
/elpa
/var
/chckyn.el
/*.elc
/*~
/.persistent-scratch
/.emacs.desktop
/.elfeed
/bookmarks
/ido.last
/image-dired
/org-gcal
/places
/recentf
/savehist
/history
/auto-save-list
/amx-items
/transient
